[Unit]
Description=LocalForwarder client

[Service]
Type=simple
ExecStart=/path/to/lf-client /path/to/config.json
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
